<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Sight Seeing Guider</a>
            <a *ngIf="!isVisible()" class="navbar-brand">{{user.userName}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li *ngIf="isVisible()" [routerLinkActive]="['active']"><a [routerLink]="['/login']">Login</a></li>
            <li *ngIf="isVisible()" [routerLinkActive]="['active']"><a [routerLink]="['/register']">Register</a></li>
            <li *ngIf="!isVisible()" [routerLinkActive]="['active']"><a [routerLink]="['/searching']">Search</a></li>
            <li *ngIf="!isVisible()" [routerLinkActive]="['active']"><a [routerLink]="['/adding']">Add place</a></li>
            <li *ngIf="!isVisible()" [routerLinkActive]="['active']"><a [routerLink]="['/login']"><span
                    class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
</nav>