<div class="col-md-6 col-md-offset-3">
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search place" name="search" [(ngModel)]="word">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" (click)="search()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>
    <div class="container" *ngIf="searched">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of placeTable">
                <td [routerLink]="['/place/', p.id]">{{p.name}}</td>
                <td [routerLink]="['/place/', p.id]">{{p.address}}</td>
            </tr>
            </tbody>
        </table>
    </div>
